{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="bg-[#DDBF93] py-2 px-3 ml-[70%] hover:bg-[#FFECEC] rounded-xl">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
