{% extends 'base.html.twig' %}

{% block title %}Edit Table{% endblock %}

{% block body %}
    <h1 class='text-center text-4xl my-10'>Modifier la Table</h1>

    {{ include('table/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('app_table_index') }}" class='bg-[#DDBF93] py-2 px-3 ml-[70%] hover:bg-[#FFECEC] rounded-xl'>Retourner à la liste</a>

{% endblock %}
