{% extends 'base.html.twig' %}

{% block title %}Edition plat{% endblock %}

{% block body %}
   <h1 class='text-center text-4xl my-10'>Modifier le Plat</h1>

    <a href="{{ path('app_dishies_index') }}" class='bg-[#DDBF93] py-2 px-3 ml-[70%] hover:bg-[#FFECEC] rounded-xl'>Retourner à la liste</a>

    <div class="flex flex-col w-full justify-evenly items-center mt-12">

        <div class="w-5/6 py-6 px-10 rounded-lg drop-shadow-md bg-[#FFF8ED]"> 
            {{ include('dishies/_form.html.twig', {'button_label': 'Modifier'}) }}
        </div>
                    
    </div>


{% endblock %}
